*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: sans-serif;
}

html{
    font-size: 16px;
    background-color:  #96eeea;
}

.container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.calc-container{
    background-color: #1d1d1d;
    width: 300px;
    height: auto;
    border-radius: 0 0 30px 30px;
}

.output{
    width: 100%;
}   

.operation{
    width: 300px;
    height: 70px;
    color: #878787;
    font-size: 1.9em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
.operation .value{
    position: absolute;
    bottom: 5px;
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}

.result{
    width: 300px;
    height: 40px;
    color: #FFF;
    font-size: 2.7em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}

.result .value{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}


.input{
    background-color: #949090;
    border: 2px solid #1d1d1d;
    border-radius: 0 0 25px 25px;
    height: 340px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); 
}



button{
    font-size: 1.5em;
    background-color: transparent;
    cursor: pointer;
}

#divide, #multiply, #subtract, #add, #calculate, #delete{
    color: #1d1d1d ;
    background-color: #e47022e5;
}

button:hover {
    background-color:rgb(77, 77, 252);
}

#zero{
    
    margin-right: 0px;
    border-radius: 0 0 0 25px;
    grid-column: 1 / 3;
}
#calculate{
    border-radius: 0 0 25px 0;
}
